.register-container{
  max-width: 320px;
  margin: 100px auto;
  padding: 30px 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.register-container h1{
    margin-bottom: 20px;
  color: #333;
  align-items: center;
}

.register-input{
    width: 70%;
  padding: 10px 12px;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 16px;
}

.register-button{
     width: 80%;
  padding: 12px;
  margin-top: 15px;
  background-color: #FF495C;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover{
    background-color: gray;
}

.login-button{
    list-style-type: none;
}

.login-button a{
    text-decoration: none;
  list-style-type: none;
  color: #333;
}

.login-button a:hover{
    color: #aaa;
}